<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Jobich QA Automation Suite" parallel="classes" thread-count="2" verbose="1">

    <test name="Parallel Run Check">
        <classes>
            <class name="ch.jobich.automation.FirstBrowserTest"/>
            <class name="ch.jobich.automation.FooterTest"/>
        </classes>
    </test>

</suite>